<ng-container *ngIf="{ 
  collection: collection$ | async,
  isSearching: isSearching$ | async
 } as tmpState">
  @if (!tmpState.isSearching) {
    <ul @fadeInFadeOut>
      @for (item of tmpState.collection; track item[id]) {
        <li style="
        display: flex;
        align-items: center;
        justify-content: center;
      ">
          {{item[key]}}
          <app-poke-image
          [url]="item['url']"></app-poke-image>
        </li>
      }
    </ul>
  } @else {
    <app-spinner
      style="
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 200px;
      position: relative;
      "
      >
    </app-spinner>
  }
</ng-container>
